In [1]:
from modulo_bd_excel import *
import pandas as pd

In [4]:
excel = 'C:\\Users\\franc\\Desktop\\ONLINE_DS_THEBRIDGE_FRAN_PASTOR\\Sprint_06\\Team_Challenge\\excel\\BD.xlsx'
bd = '.\\BD.bd'

In [5]:
generar_bd(excel, bd)

In [6]:
aniadir_data(excel, bd)

OperationalError: near "(": syntax error

In [22]:
conexion = sqlite3.connect(bd)

query = '''
SELECT * 
FROM proveedores AS a
RIGHT JOIN productos AS b ON a.id_proveedor = b.id_proveedor'''

df = pd.read_sql(query, conexion)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_proveedor  3 non-null      int64
 1   nombre        3 non-null      object
 2   direccion     3 non-null      object
 3   telefono      3 non-null      int64
 4   email         3 non-null      object
 5   id_producto   3 non-null      int64
 6   nombre        3 non-null      object
 7   tipo          3 non-null      object
 8   precio        3 non-null      float64
 9   id_proveedor  3 non-null      int64
dtypes: float64(1), int64(4), object(5)
memory usage: 372.0+ bytes