In [1]:
import pandas as pd

In [5]:
# elimino las columnas innecesarias
df_carlsen = pd.read_csv('./Carlsen_game_info.csv')
df_carlsen.drop(columns= ['white_rating_diff', 'black_rating_diff', 'white_title', 'black_title', 'termination', 'time_control', 'utc_date', 'utc_time', 'variant', 'ply_count'], inplace= True)
df_carlsen.drop(columns= ['game_id' ,'game_order', 'round', 'date_created', 'file_name', 'eco', 'winner_loser_elo_diff'], inplace= True)
df_carlsen.drop(columns= ['loser_elo', 'winner_elo'], inplace= True)
df_carlsen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4314 entries, 0 to 4313
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   event        4314 non-null   object
 1   site         4314 non-null   object
 2   date_played  4314 non-null   object
 3   white        4314 non-null   object
 4   black        4314 non-null   object
 5   result       4314 non-null   object
 6   white_elo    4293 non-null   float64
 7   black_elo    4280 non-null   float64
 8   winner       4314 non-null   object
 9   loser        4314 non-null   object
dtypes: float64(2), object(8)
memory usage: 337.2+ KB

In [6]:
df_carlsen.head()

,event,site,date_played,white,black,result,white_elo,black_elo,winner,loser
0,Troll Masters,Gausdal NOR,2001.01.05,"Edvardsen,R","Carlsen,Magnus",1/2-1/2,2055.0,NaN,draw,draw
1,Troll Masters,Gausdal NOR,2001.01.06,"Carlsen,Magnus","Brameld,A",0-1,NaN,2095.0,"Brameld,A","Carlsen,Magnus"
2,Troll Masters,Gausdal NOR,2001.01.07,"Carlsen,Magnus","Fant,G",1-0,NaN,2062.0,"Carlsen,Magnus","Fant,G"
3,Troll Masters,Gausdal NOR,2001.01.08,"Tallaksen,G","Carlsen,Magnus",1/2-1/2,2258.0,NaN,draw,draw
4,Troll Masters,Gausdal NOR,2001.01.08,"Carlsen,Magnus","Nilssen,J",0-1,NaN,2371.0,"Nilssen,J","Carlsen,Magnus"

In [8]:
df_carlsen['date_played'] = pd.to_datetime(df_carlsen['date_played'], errors= 'coerce')
# paso a datetime la columna de fechas, el paramentro errors pasa a NaT los que no siguen el formato

In [11]:
df_carlsen.dropna(inplace= True)

In [12]:
df_carlsen.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4257 entries, 16 to 4313
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   event        4257 non-null   object
 1   site         4257 non-null   object
 2   date_played  4257 non-null   datetime64[ns]
 3   white        4257 non-null   object
 4   black        4257 non-null   object
 5   result       4257 non-null   object
 6   white_elo    4257 non-null   float64
 7   black_elo    4257 non-null   float64
 8   winner       4257 non-null   object
 9   loser        4257 non-null   object
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 365.8+ KB

In [43]:
df_carlsen.to_csv('df_carlsen_limpio.csv')