In [1]:
import openpyxl as opx
import sqlite3
import pandas as pd

In [2]:
archivo_excel = opx.load_workbook('C:\\Users\\franc\\Desktop\\ONLINE_DS_THEBRIDGE_FRAN_PASTOR\\Sprint_06\\Team_Challenge\\BD.xlsx')
hojas = archivo_excel.sheetnames # esto nos va a dar una lista con los nombres de las hojas/tablas

# CREAR LA BD Y UN CURSOR PARA INTERACCIONAR CON ELLA

conexion = sqlite3.connect('bd_beta.db')
cursor_beta = conexion.cursor()

#CREAR TABLAS

for hoja in archivo_excel.sheetnames:
    query_create = f'CREATE TABLE {hoja} (\n'
        
    for col in archivo_excel[hoja][1]:
        if col == archivo_excel[hoja][1][0]:
            query_create += f'{col.value} INTEGER PRIMARY KEY,\n'
        else:
            query_create += f'{col.value},\n'
    
    query_create += ')'
    query_create = query_create.replace(',\n)', '\n)')

    cursor_beta.execute(query_create)

In [3]:
# AÃ‘ADIR DATOS
for tabla in archivo_excel.sheetnames:
    columnas = [celda.value for celda in archivo_excel[tabla][1]]
    columnas = tuple(columnas)
    columnas = str(columnas)

    for line in archivo_excel[tabla].iter_rows(2):
        
        celdas = [celda.value for celda in line]
        celdas = tuple(celdas)
        celdas = str(celdas)
        celdas += ';'

        query_insert = f'INSERT INTO {tabla} {columnas} VALUES {celdas}'
        cursor_beta.execute(query_insert)

In [4]:
conexion.commit()

In [5]:
conexion = sqlite3.connect('bd_beta.db')
cursor_beta = conexion.cursor()

query = '''
SELECT *
FROM stock'''

df = pd.read_sql(query, conexion)

In [6]:
#conexion.close()

In [11]:
query = '''
SELECT *
FROM facturas'''

df = pd.read_sql(query, conexion)
df

   id_factura       fecha  total  id_proveedor
0           1  12.12.2018     20             1
1           2  09.08.2020     12             2
2           3  30.11.2021     23             3