In [8]:
from modulo_bd_excel import *
import pandas as pd

In [9]:
excel = 'C:\\Users\\franc\\Desktop\\ONLINE_DS_THEBRIDGE_FRAN_PASTOR\\Sprint_06\\Team_Challenge\\BD.xlsx'
bd = '.\\BD_farmacia_miren.db'

In [10]:
#generar_bd(excel, bd)

In [11]:
aniadir_data(excel, bd)

OperationalError: database is locked

In [ ]:
conexion = sqlite3.connect(bd)

query = '''
SELECT * 
FROM proveedores AS a
LEFT JOIN productos AS b ON a.id_proveedor = b.id_proveedor'''

df = pd.read_sql(query, conexion)
df

,id_proveedor,nombre,direccion,telefono,email,id_producto,nombre,tipo,precio,id_proveedor
0,1,fulanito,calle falsa 123,123456789,ejemplo@gmail.com,1,paracetamol,generico,0.70,1
1,2,agapito,calle falsa 456,987654321,ejemplo_1@hotmail.com,2,viagra,vigorizante,5.80,2
2,3,menganito,calle falsa 789,102030405,ejemplo_2@yahoo.es,3,champu,higiene,2.30,3